*{
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}
.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
}
.cabecera{
    background-color:rgb(145, 255, 0) ;
    height: 5em;
}
body{
    background: rgb(0, 174, 255);
    background-image: url(../images/fondo1.gif);
}

.botonMenu{
    border: 2px solid #0000FF;
}

.logo{
    padding: 5rem;
    
}

.Presentacion{
    background-color: azure;
    height: 30em;
}

.servicios{
    height: 30em;
}

.Portafolio{
    background-color: azure;
    height: 40em; 
}
.Equipo{
    height: 30em;
}

.Contacto{
    background-color: azure;
    height: 30em;
}

.inferior{
    background-color: rgba(47, 110, 228, 0.856);
    height: 8em;
}

@media (max-width: 991px) {
    .botonMenu {
      display: none;
    }
  }
